body {
	font-family: 'montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	overflow: hidden;
}

:root {
	--white-color: #FFFFFF;
	--gray01:#FAFAFA;
  	--gray02: #AAAAAA;
  	--gray03: #454545;
  	--gray04: #dddddd;
  	--main-color: #FF6F61;
  	--main-color-opacity:rgba(255, 111, 97,0.9);
  	--main-color-opacity-20:rgba(255, 111, 97,0.2);
}

::selection {
  background: var(--main-color-opacity-20); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: var(--main-color-opacity-20); /* Gecko Browsers */
}

header {
	width:  calc(100% - 80px);
	position: absolute;
	left: 40px;
	height: 40px;
	display: flex;
	justify-content: space-between;
	font-size: 12px;
	color:var(--gray03);
	align-items: baseline;
	top: -100px;
	animation-name: header;
 	animation-duration: 1s;
 	animation-delay: 2.2s;
 	animation-fill-mode: forwards;
 	z-index: 20;
}
@keyframes header {
  from {
  	top: -100px;
  }
  to {
  	top: 8px;
  }
}
.logo {
	font-size: 23px;
	cursor: default;
	font-family: 'Yesteryear', cursive;
	margin: -4px 0 0;
	z-index: 10;
}
.logo a {
	color: var(--main-color);
}
.language-label, .language-label-mobile {
	text-transform: uppercase;
	color:var(--gray02);
	font-size: 11px;
	cursor: pointer;
}
.language-label-mobile {
	display: none;
}
video:focus {
	outline: 0;
}
.vp-center #player {
	min-width: 100%;
	width: 1080px;
}
.vermas {
	color: var(--main-color);
	font-size: 12px;
	top:16px;
	position: relative;
	font-weight: 700;
	text-transform: uppercase;
}
.note {
	color: var(--main-color);
	font-size: 12px;
	padding: 8px 0 0;
}
a {
	color:inherit;
	text-decoration: none;
	transition: linear 1s;
	-webkit-transition: linear 1s;
}
a:hover {
	filter: brightness(90%);
}
.contact-info a:hover {
	color: var(--main-color)!important;
}
.horizontal-elements {
	display: flex;
	flex-wrap: wrap;
}
.horizontal-between {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.width-100 {
	width: 100%;
}
.code {
	font-family: 'Roboto Mono', sans-serif;
	font-size: 11px;
	margin:0 0 24px;
}
.main-title {
	color:var(--white-color);
	cursor: default;
	font-size: 46px;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 2px;
}
.main-sec-title {
	font-size: 50%;
	margin: 6px 0 0;
	opacity: 0.75;
}
.secondary-title {
	font-size: 24px;
	margin: 0 0 0 16px;
	color:var(--main-color);
	opacity: 0;
	text-align: center;
	animation-name: secondary-title;
 	animation-duration: 1s;
 	animation-delay: 0.5s;
 	animation-fill-mode: forwards;
 	font-weight: 300;
}
@keyframes secondary-title {
  from {
  	opacity: 0;
  }
  to {
  	opacity: 0.5;
  }
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.welcome-hola {
	font-size: 140px;
	font-weight: 700;
	color:var(--main-color);
	font-family: 'Yesteryear', cursive;
	width: 100%;
	height: 100%;
	text-align: center;
	display:grid;
	display: -webkit-grid;
	align-items: center;
	-webkit-align-items:center;
	position: absolute;
	top:0;
	bottom: 0;
}
.welcome-title-container {
	grid-column: 2 / 2;
  	grid-row: 1;
}
.welcome-img-container {
	position: relative;
	width: 100%;
	height: 328px;
	grid-column: 1 / 2;
  	grid-row: 1;
}
.welcome-img-position {
	float: right;
}
.welcome-img {
	width: 140px;
	position: absolute;
	top: 0;
	right: 40px;
}
.welcome-img-01 {
	margin: 0;
	position: relative;
	animation-name: welcome-img;
 	animation-duration: 0.6s;
 	animation-delay: 2.6s;
 	animation-fill-mode: forwards;
 	opacity: 0;
}
.welcome-img-02 {
	margin: 78px 40px 0 0;
	animation-name: welcome-img;
	animation-duration: 0.6s;
 	animation-delay: 3.4s;
 	animation-fill-mode: forwards;
 	opacity: 0;
}
@keyframes welcome-img {
  0% {
  	opacity: 0;
  }
  100% {
  	opacity: 1;
  }
}
.aboutme-close {
	text-transform: uppercase;
	right: 24px;
	top:24px;
	position: absolute;
	font-size: 11px;
	color:var(--gray03);
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
}
.aboutmelink {
	font-size: 11px;
	color:var(--gray01);
	text-transform: uppercase;
	letter-spacing: 1px;
	height: 60px;
	position: relative;
	transition: ease-out 1s;
	-webkit-transition: ease-out 1s;
}
.aboutmelink:after {
	content: '';
	border-bottom: 1px solid var(--white-color);
	width: 149px;
	position: absolute;
	left:0;
	top: 24px;
}
.aboutmelink:hover {
	cursor: pointer;
	letter-spacing: 4px;
}
.pantone {
	right:40px;
	position: absolute;
	top:32px;
	font-size: 9px;
	color:var(--gray01);
	opacity: 0.75;
}

.content-container {
	position: absolute;
	scroll-behavior: smooth;
	overflow: overlay;
	-webkit-overflow-scrolling: touch;
	box-sizing: border-box;
	overflow-x:hidden; 
	opacity: 0;
	animation-name: content-container;
 	animation-duration: 2s;
 	animation-delay: 1s;
 	animation-fill-mode: forwards;
 	box-shadow: inset 0 0 4px var(--gray04);
}
@keyframes content-container {
  0% {
  	height: 100% ;
	width:  100%;
	top:0;
	left: 0;
	overflow-y: hidden;
	opacity: 0;
  }
  90% {
  	height: calc(100% - 80px);
	width:  calc(100% - 80px);
	top:40px;
	left: 40px;
	overflow-y: hidden;
	opacity: 1;
  }
  100% {
  	height: calc(100% - 80px);
	width:  calc(100% - 80px);
	top:40px;
	left: 40px;
  	overflow-y: overlay;
  	opacity: 1;
  }
}
.content-smaller {
	height: calc(100% - 180px)!important;
}
.project-main-container {
	background-color: var(--gray01);
	border:1px solid var(--gray01);
	text-align:center;
}
.content-welcome {
	height:100%;
	width: 100%;
	position: absolute;
}
.portfolio-welcome {
	position: absolute;
	background-color:var(--main-color-opacity);
	width: 100%;
	height: 100%;
	right: 0;
	top:0;
	padding: 16px 40px;
	align-items: center;
	display: grid;
	box-sizing: border-box;
	transition: ease-out 1s;
	-webkit-transition: ease-out 1s;
}
.portfolio-welcome a {
	cursor: pointer;
}
.title-right .fa-arrow-down {
	font-size: 22px;
}
.timezone {
	position: absolute!important;
	bottom: 18px;
	left:20px;
	opacity: 0;
	color: var(--main-color);
	font-size: 8px;
	text-transform: uppercase;
	letter-spacing: 1px;
	transform: rotate(-6deg);
	-webkit-transform: rotate(-6deg);
	-moz-transform: rotate(-6deg);
	text-align: left;
	line-height: 1.4em;
	font-style: italic;
	font-weight: 600;
	transition: ease-out 1s;
	-webkit-transition: ease-out 1s;
}
.map-container:hover .timezone {
	display: block;
	opacity: 1;
}
.map-container {
	width: 300px;
	margin:16px auto 0;
	position: relative;
}
.map-container:hover .map-arg {
	animation-name: map-arg;
 	animation-duration: 0.5s;
 	animation-fill-mode: forwards;
}
@keyframes map-arg {
  0% {
  	top: 0;
  }
  60% {
  	top:-8px;
  }
  80% {
  	top:8px;
  }
  100% {
  	top:0;
  }
}
.map-container:hover .map-ger {
	animation-name: map-ger;
 	animation-duration: 0.3s;
 	animation-delay: 0.6s;
 	animation-fill-mode: forwards;
 	animation-iteration-count: 3;
}
@keyframes map-ger {
  0% {
  	opacity: 1;
  }
  50% {
  	opacity: 0;
  }
  100% {
  	opacity: 1;
  }
}
.map-main {
	width: 100%;
}
.map-arg, .map-ger {
	position: absolute;
	width: 100%;
	top: 0;
	left:0;
}
.about {
	cursor: default;
	background: var(--white-color);
	width: 0;
	min-width: 0;
	height: calc(100% - 84px);
	left:42px;
	top:42px;
	box-sizing: border-box;
	z-index: 10;
	position: absolute;
	transition: linear 1s;
	-webkit-transition: linear 0.3s;
	overflow:hidden;
	display: flex;
	align-items: center;
}
.about-sec-container {
	margin: auto;
}
.about-hover {
	width: calc(100% - 84px);
	box-shadow: 0 0 4px var(--gray02);
	overflow: auto;
	padding: 24px 16px;
}
.content-container-onabout {
	filter: grayscale(100%);
}
.about-text {
	margin: 0 auto;
	width: 300px;
	height: calc(100% - 32px);
	font-size: 12px;
	line-height: 18px;
	text-align: center;
}
.about-text-hover {
	display: grid;
	align-items: center;
	transition: ease-out 1s;
	-webkit-transition: ease-out 1s;
	color:var(--gray03);
}
.about-text-hover-off {
	display: grid;
	align-items: center;
	transition: ease-out 1s;
	-webkit-transition: ease-out 1s;
	color:var(--white-color);
}
.arrow-down {
	position: absolute;
	top: 80%;
	width: 100%;
	margin:auto;
}
.content-portfolio {
	position: absolute;
	top:100%;
	width: 100%;
	min-height: 100%;
	background-color:rgba(240,240,240,.9);
	padding: 16px;
	box-sizing: border-box;
	box-shadow: inset 0 0 4px var(--gray04);
}
	/*-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 91%);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 91%);*/
.portfolio-title {
	text-align: right;
}
.portfolio-items-container {
	max-width: 1500px;
	margin: 96px auto 16px;
}
.projects-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 1100px;
	margin: auto;
}
.portfolio-item {
	background-color:var(--white-color);
	width: 200px;
	margin: 16px 8px 0;
	min-height: 200px;
	padding: 16px;
	border: 1px solid var(--gray04);
	transition: ease-out 1s;
	-webkit-transition: ease-out 1s;
	position: relative;
	box-shadow: 0 0 4px var(--gray04);
	text-align: left;
}
.portfolio-item:hover {
	border: 1px solid var(--main-color);
	cursor: pointer;
	filter: inherit!important;
}
.portfolio-item-personal {
	background-color:var(--main-color-opacity);
	color:var(--white-color);
	border: 1px solid var(--main-color);
}
.portfolio-item-personal .client-title, .portfolio-item-personal .project-title, .portfolio-item-personal .project-code {
	color:rgba(255,255,255,.75)!important;
}
.portfolio-item-personal:hover .client-title, .portfolio-item-personal:hover .project-title,  .portfolio-item-personal:hover .tools, .portfolio-item-personal:hover .project-code {
	color:var(--white-color)!important;
}
.portfolio-item-personal .tools {
	background-color: var(--main-color-opacity)!important;
}
.projects-container:hover .portfolio-item:not(:hover) {
	filter: blur(1px);
	transition: ease-out 1s;
	-webkit-transition: ease-out 1s;
}
.portfolio-item:hover .client-title {
	color:var(--main-color);
}
.portfolio-filters {
	color:var(--main-color);
	cursor: default;
	font-size: 16px;
	text-transform: uppercase;
	width: 100%;
	text-align: center;
}
.portfolio-filters a {
	color:var(--main-color);
	margin: 0 8px;
	font-size: 11px;
	font-weight: 700;
	transition: ease-out 1s;
	-webkit-transition: ease-out 1s;
	position: relative;
}
.portfolio-filters a:hover {
	cursor: pointer;
}
.portfolio-filters a:hover:after, a.vermas:hover:after, .dev-tag-selected:after {
	content: '';
	position: absolute;
	left: 0;
	top: 4px;
	width: 0;
	background: var(--main-color-opacity-20);
	height: 12px;
	animation-name: vermas;
 	animation-duration: 0.5s;
 	animation-fill-mode: forwards;
}
@keyframes vermas {
  from {
  	width: 0;
  }
  to {
  	width: 100%;
  }
}
.client-title {
	color:var(--gray02);
	text-transform: uppercase;
	font-size: 24px;
	line-height:1.2em;
	transition: ease-out 1s;
	-webkit-transition: ease-out 1s;
	padding: 0 0 8px;
}
.project-info-container {
	align-items: baseline;
	margin: 0 0 88px;
}
.project-title {
	color:var(--gray02);
	text-transform: uppercase;
	font-size: 14px;
	top:2px;
	margin: 8px 0 0;
	position: relative;
	line-height: 1.4em;
}
.project-code {
	font-family: 'Roboto Mono', sans-serif;
	font-size: 12px;
	color:var(--gray03);
	line-height: 1.6em;
	margin: 8px 0 0;
}
.portfolio-item:hover .project-code {
	color: var(--main-color);
}
.tools {
	background-color: var(--gray01);
	position: absolute;
	padding: 16px;
	left:0;
	bottom:0;
	width: 100%;
	box-sizing: border-box;
	color: var(--gray03);
}
.portfolio-item:hover .tools {
	background-color: var(--main-color-opacity-20);
}

footer {
	width:  calc(100% - 80px);
	left: 40px;
	position: absolute;
	height: 40px;
	bottom:0;
	display: flex;
	justify-content: space-between;
	font-size: 12px;
	color:var(--gray03);
	bottom:-100px;
	animation-name: footer;
 	animation-duration: 1s;
 	animation-delay: 3.2s;
 	animation-fill-mode: forwards;
 	z-index: 20;
}
@keyframes footer {
  from {
  	bottom:-100px;
  }
  to {
  	bottom:0px;
  }
}
.fiscal-info {
	text-transform: uppercase;
	padding: 12px 0 0;
	color:var(--gray02);
	cursor: pointer;
	font-size: 11px;
}
.contact-info {
	padding: 12px 0 0;
	display: flex;
}
.contact-info a {
	color:var(--gray03);
}
.mail-icon {
	display: none;
}
.fa-envelope {
	font-size: 13px!important;
}
.fa-linkedin {
	margin:0 0 0 16px;
	top:-1px;
	position: relative;
	font-size: 14px!important;
}
.fa-github {
	font-size: 18px!important;
	top: -3px;
	position: relative;
	margin:0 0 0 16px;
}

.fiscal-info-modal {
	z-index: 10;
	bottom:30px;
	left: 40px;
	position: fixed;
	height: 88px;
	width: 140px;
	padding: 16px;
	transition: ease-out 1s;
	-webkit-transition: ease-out 1s;
	display: none;
}
.fiscal-info-modal img {
	width: 56px;
	filter: grayscale(100%);
	transition: ease-out 1s;
	-webkit-transition: ease-out 1s;
}
.fiscal-info-modal img:hover {
	filter: inherit;
}

.project-container {
	max-width: 1080px;
	width: 100%;
	margin: 40px auto;
	box-sizing: border-box;
	padding: 0 24px;
}
.project-container .mobile {
	margin: 8px 0;
	max-width: 31%;
}
.project-container .desktop, video {
	border:1px solid var(--gray04);
	padding: 8px;
	box-sizing: border-box;
	box-shadow: 0 0 4px var(--gray04);
}
.horizvideosx3 video.mobile {
	max-height: 500px;
	height: -webkit-fill-available;
}
.poster {
	border:1px solid var(--gray04);
	padding: 8px;
	box-sizing: border-box;
	margin: auto;
	max-height: 800px;
	background-color: var(--white-color);
	max-width: 100%;
	box-shadow: 0 0 4px var(--gray04);
}
.branding {
	border:1px solid var(--gray04);
	background-color: var(--white-color);
	padding: 8px;
	box-sizing: border-box;
	margin: auto;
	width: 100%;
	box-shadow: 0 0 4px var(--gray04);
}
.mobile img {
	width: 100%;
	border:1px solid var(--gray04);
	background-color: var(--white-color);
	padding: 24px 8px 40px;
	box-sizing: border-box;
	box-shadow: 0 0 4px var(--gray04);
}
.branding-img-desktop {
	display: inherit;
	margin: 0 0 4px;
}
.branding-img-mobile {
	display: none;
}
.project-main-title {
	color: var(--gray02);
	text-transform: uppercase;
	font-size: 24px;
	line-height: 1.2em;
	font-weight: 200;
}  
.project-subtitle-container {
	font-weight: 200;
	color:var(--main-color);
	margin: 24px 0 0;
	width: 100%;
	text-transform: uppercase;
}
.project-date {
	letter-spacing: 0.1em;
	color: var(--main-color);
	font-size:10px;
	margin: 8px auto;
	position: relative;
	width: fit-content;
	width: -webkit-fit-content;
}
.project-date:after {
	content: '';
	border-bottom:1px solid var(--main-color);
	display: block;
	width: 100%;
	padding: 4px 0 0;
}
.project-description {
	font-size: 13px;
	line-height: 1.5em;
	margin: 4px 8px 16px 0;
	width: 100%;
} 
.project-container-code {
	margin: 8px;
	width: 100%;
	line-height: 1.6em;
	z-index: 10;
	position: relative;
	color: var(--gray02);
}
.separator {
	margin: 40px 0;
	width: 100%;
	height: 2px;
	background-color: var(--white-color);
}

@media only screen and (max-width: 393px) {

	.portfolio-welcome-open {
		height:calc(100% + 90px)!important;
	}
	.welcome-img-container {
		display: none;
	}
}

@media only screen and (min-width: 394px) {

	.portfolio-welcome-open {
		height:calc(100% + 60px)!important;
	}
}


@media only screen and (max-width: 700px) {
	header, footer {
		width: calc(100% - 40px);
		left: 20px;
	}
	.welcome-hola {
		font-size: 80px;
	}
	.horizontal-between {
		justify-content: center;
	}
	.portfolio-welcome {
		width:100%;
		min-height: 100%;
		box-sizing: border-box;
		position: relative;
	}
	.welcome-title {
		transform:inherit;
		left:0;
	}
	.about {
		height: 90px;
		width:calc(100% - 32px);
		text-align: center;
	}
	.about {
		display: none;
	}
	.title-right {
		font-size: 28px;
		position: absolute;
		left: 24px;
		width: 100%;
		text-align: center;
	}
	.portfolio-item {
		margin: 16px 8px;
	}
	.main-title {
		font-size: 22px;
		text-align: center;
		position: relative;
	}
	.secondary-title {
		margin: 0;
	}
	.mail-icon {
		display: block;
		margin:0 16px 0 0;
		top:-1px;
		position: relative;
	}
	.mail-label, .language-label {
		display: none;
	}
	.language-label-mobile {
		display: block;
	}
	.project-container .mobile {
		box-sizing: border-box;
		margin: 8px 0;
		max-width: 100%;
	}
	.pantone, .aboutmelink {
		display: none;
	}
	.content-container-onabout {
		filter: inherit;
	}
	.content-container {
		animation-name: content-container-mobile;
	}
	@keyframes content-container-mobile {
	  0% {
	  	height: 100% ;
		width:  100%;
		top:0;
		left: 0;
		overflow-y: hidden;
		opacity: 0;
	  }
	  90% {
	  	height: calc(100% - 80px);
		width:  calc(100% - 40px);
		top:40px;
		left: 20px;
		overflow-y: hidden;
		opacity: 1;
	  }
	  100% {
	  	height: calc(100% - 80px);
		width:  calc(100% - 40px);
		top:40px;
		left: 20px;
	  	overflow-y: overlay;
	  	opacity: 1;
	  }
	}
	.fa-github {
		margin: 0 0 0 26px;
	}
	.branding-img-desktop {
		display: none;
	}
	.branding-img-mobile {
		display: inherit;
		margin: 0 0 4px;
	}
	.portfolio-filters {
		line-height: 32px;
	}
	.welcome-title-container {
		grid-column: 1 / 2;
	  	grid-row: 1;
	  	text-align: center
	}
	.welcome-img-container {
		display: none;
	}
}
@media only screen and (max-height: 450px) {
	.pantone {
		display: none;
	}
	.main-title {
		font-size: 18px;
	}
}